.card-container{
  margin: 50px 10px;
}

.card{
  Height: 340px;
}

.card_body{
  display: block;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content:flex-end;
}


.delete,
.edit{
  margin: 0px 5px;
  color: #B32B18;
}

.card-img{
  height: 220px;
  max-height: 220px;
}
