.addRecipeContainer{
  display: flex;
  margin: 50px 11rem;
  justify-content: right;
}

.button {
  border: none;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.3rem;
}

.addRecipeBtn {
  background-color: white; 
  color: black; 
  border: 2px solid #FEC848;
}

.addRecipeBtn:hover {
  background-color: #FEC848;
  color: white;
} 

@media (max-width: 820px) {
  .button {
    font-size: 16px;
    padding: 12px 20px;
  }

  .addRecipeContainer{
    display: flex;
    margin: 50px 3rem;
    justify-content: right;
  }
}

@media (max-width: 540px) {
  .button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .addRecipeContainer{
    display: flex;
    margin: 50px 2rem;
    justify-content: right;
  }
}


