.login_form{
  width: 30%;
  margin: 8% auto;
}

.loginButton {
  background-color: white; 
  color: black; 
  border: 2px solid #aabb4d;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.3rem;
}

.loginButton:hover {
  background-color: #aabb4d;
  color: white;
} 

.create_account_link_div{
  background-color: #c9db63;
  padding: 30px;
  display: flex;
  justify-content: center;
  color:rgb(48, 47, 47);
}

.link{
  font-weight: 450;
}

@media (max-width: 912px) {
.login_form{
    margin: 100px auto; 
    width: 60%;
    display: block;
    justify-items: center;
    font-size: 1.5rem;
  }

.loginButton {
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) {
.login_form{
    margin: 100px auto; 
    width: 60%;
    display: block;
    justify-items: center;
    font-size: 1.4rem;
  }

  .loginButton {
    font-size: 16px;
  }

  Form{
    padding: 18px;
  }

  .loginButton{
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
.login_form{
    margin: 100px auto; 
    width: 60%;
    display: block;
    justify-items: center;
    font-size: 1.3rem;
  }

  Form{
    padding: 20px;
  }

  .loginButton{
    margin-top: 25px;
  }

}

@media (max-width: 540px) {
.login_form{
    margin: 100px auto; 
    width: 85%;
    display: block;
    justify-items: center;
    font-size: 0.9rem;
  }
}